.service h3 {
    text-transform: uppercase;
}
.service span{
    font-size: small;
    margin-bottom: .7rem 0 .7rem 0;
}
.service{
    padding-bottom: .8rem;
}
.service li{
    padding-top: .25rem;
}
.service__title{
    font-size: 2rem;
    margin-bottom: 2.5rem;
}
.service__container{
    margin: 2rem 0 0 6rem;
}
.service__img{
    margin-top: 5rem;
}
.service__img img{
    border-radius: 1rem;
    transition: transform 0.3s ease;
}
.service__img img:hover{
    transform: translateY(-25px);
}